################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/SportStore/.vs/SportStore/v15/Server/sqlite3/db.lock
